@charset "ISO-8859-1";

/* html{
    height: max-content;
    width: max-content;
} */

body{
    background-color: aqua;
}

h1{
    text-align: center;
}

input, button{
    border-radius: 0.5em;
    width: 20em;
    height: 3em;
}

button{
    background-color: greenyellow;
}

.btn{
    padding: 0.5%;
    background-color: black;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: white;
    position: absolute;
    right: 80%;
}

.container{
    position: relative;
   display: flex;
   flex-direction: row;
   row-gap: 7em;
   margin-left: 40em;
   margin-top: 20em;
}

#loginForm{
    position: absolute;
   text-align: center;
   z-index: 10;
}

#login{
   display: flex;
   flex-direction: column;
   border-radius: 0.5em;
   border-style: groove;
   border-width: 0.5px;
   padding: 3em;
   background-color: white;
}

#welcome{
    position: absolute;
    top: auto;
    width: 30em;
    height: 10em;
    text-align: center;
    margin-top: 0.5em;
}
